<h1>Bienvenido al juego de carreras</h1>
<h3>Introduce los siguientes datos:</h3>
<form method='post' action='/ingresar'>

        Tamaño del terreno: 
        <br>
        X: <input type='text' name='superficieX' placeholder="Introduce un numero">
        Y: <input type='text' name='superficieY' placeholder="Introduce un numero">
        <br>
        <br>
        Posicion inicial: 
        <br>
        X: <input type='text' name='inicioX' placeholder="Introduce un numero">
        Y: <input type='text' name='inicioY' placeholder="Introduce un numero">
        Direccion: <input type='text' name='inicioD' placeholder="Introduce una letra: N,S,E,O ">
        <br>
        <br>
        

        <input type='submit' value='Ingresar Datos' >

</form>