<h1> Tamaño del terreno: </h1>
<h1>  X: <%=@superficieX%> </h1>
<h1>  Y: <%=@superficieY%> </h1>

<h1> Posicion inicial</h1>
<h1>  X: <%=@inicioX%> </h1>
<h1>  Y: <%=@inicioY%> </h1>
<h1> Direccion : <%=@inicioD%> </h1>